<!DOCTYPE HTML>
<html>
	<head>
		<title>User-Profil</title>
	</head>
	<body>
        
        <div class ="row">
            <div class ="col-md-4">
                <img src="<%= user.avatar %>" alt="Profilbild">
            </div>
            <div class ="col-md-8">
            </div>
        </div>
	
		<b><a href="javascript:history.back()">Zurück</a></b>
	</body>
</html>